<script id="profile-header-template" type="text/x-handlebars-template">
    <div id="balance" class="row">
        <div style="border-style: solid;
                    border-width: 2px;
                    margin-left: auto;
                    margin-bottom: 40px;
                    padding: 20px;
                    color: #ff5768;
                    font-weight: bold;">
            <div style="margin-top: 2%; margin-bottom: 2%;" id="user-balance"> <span style="font-weight: normal;color: #5a5656;">Pepos: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>\{{balanceInPepo}} (&#36;\{{balanceInUsd}})</div>
            <div style="margin-bottom: 2%;" id="user-balance"><span style="font-weight: normal;color: #5a5656;">Unicorns: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>\{{pepocornBalance}} (&#36;\{{pepocornBalance}})</div>
            <div style="margin-bottom: 2%;" id="user-balance"><span style="font-weight: normal;color: #5a5656;">Total: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> &#36;\{{totalBalanceInUsd}} (Pepos + Unicorns)</div>
        </div>
    </div>
  <div class="row">
    <div class='col-1' id="user-profile-img" data-user-id=\{{userId}}>
      \{{#if imageLink}}
        <img src=\{{imageLink}} style="height: 45px; width: 45px; border-radius: 50%;">
      \{{else}}
        <i class="fa fa-user-circle" style="font-size: 2.7rem; color: #dc3545;"></i>
      \{{/if}}
    </div>
    <div class="col-4" id="profile-name" style="margin-left: -3%;">
      \{{name}}
      <br/>
      <small>@\{{userName}}</small>
    </div>

    <div class="col-2 ml-auto float-right" style="margin-bottom: 2%;">
      <select class="form-control custom-select mr-sm-2" data-user-id=\{{userId}} id="admin-action">
        \{{#ifCond status '===' "ACTIVE"}}

          \{{#if isCreator}}
            <option value="approved" selected>Approved</option>
          \{{else}}
            <option value="0" selected>Pending</option>
            <option value="approve">Approve</option>
          \{{/if}}

          <option value="block">Block</option>
        \{{/ifCond}}

        \{{#ifCond status '===' "INACTIVE"}}
          <option value="blocked" selected>Blocked</option>
        \{{/ifCond}}

      </select>
    </div>
  </div>
</script>
