<script id="user-row" type="text/x-handlebars-template">
  <tr>
    <td scope="col">
      \{{name}}
      <br/>
      <small>@\{{userName}}</small>
    </td>

    <td scope="col">
      \{{#if socialLink}}
        <a href=\{{socialLink}} target="_blank">Social</a>
      \{{/if}}
    </td>

    <td scope="col">\{{status}}</td>
    
    <td scope="col">
      \{{#if videoLink}}
        <a href=\{{videoLink}} id="video-link">Latest Video</a>
      \{{/if}}
    </td> 

    <td scope="col">
      \{{#ifCond status '==' "Pending"}}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="userCreatorState" id="radio1" value="1">
          <label class="form-check-label" for="radio1">
            Approve
          </label>
        </div>
      \{{/ifCond}}

      \{{#ifCond status '!=' "Blocked"}}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="userCreatorState" id="radio2" value="2">
          <label class="form-check-label" for="radio2">
            Block
          </label>
        </div>
      \{{/ifCond}}
    </td>
    <td scope="col">
      \{{#if adminAction}}
      \{{adminAction.adminName}}
      <br/>
      \{{adminAction.createdAt}}
      \{{/if}}
    </td>

    <td scope="col">
      \{{#ifCond status '!=' "Blocked"}}
        <button class="btn btn-outline-danger" id="user-save-btn" data-user-id=\{{userId}}>Save</button>
      \{{/ifCond}}
    </td>
  </tr>
</script>