<script id="video-detail-row" type="text/x-handlebars-template">
  <tr>
    <td scope="col">
      <div class="video-thumbnail" data-video-link=\{{videoLink}} data-video-id=\{{videoId}} data-desc-id=\{{descriptionId}}>
        <img src="\{{posterImageLink}}" style="height: 50px; width: 50px;">
        <i class="fa fa-play-circle text-danger"></i>
      </div>
    </td>
    <td scope="col">\{{description}}</td>
    <td class="reply-count" data-video-id="\{{videoId}}" scope="col">
        <a class="\{{replyCountStyle}}" href="\{{repliesUrl}}">\{{#if replyCount}}\{{replyCount}}\{{else}}-\{{/if}}</a>
    </td>
    <td scope="col">\{{updatedAt}}</td>

    <td scope="col">\{{fanCount}}</td>

    <td scope="col">\{{pepoReceived}}</td>

    <td scope="col">
      <button class="btn btn-outline-danger" id="video-delete-btn" data-video-id=\{{videoId}}>Delete</button>
    </td>
  </tr>
</script>
