<script id="whitelist-user-row" type="text/x-handlebars-template">
  <tr>
    <td scope="col">
      \{{name}}
      <br/>
      <small>@\{{userName}}</small>
      <br/>
      \{{#if socialLink}}
        <a href=\{{socialLink}} target="_blank"><i class="fa fa-link"></i></a>
      \{{/if}}
    </td>

    <td scope="col">\{{email}}</td>

    <td scope="col">\{{status}}</td>

    <td scope="col">
      \{{#ifCond creatorStatus '==' "REQUESTED"}}
        <button class="btn btn-outline-danger" id="creator-approve-save-btn" data-invite-id=\{{inviteId}}>Approve</button>
      \{{/ifCond}}

      \{{#ifCond creatorStatus '!=' "REQUESTED"}}
        \{{creatorStatus}}
      \{{/ifCond}}
    </td>

    <td scope="col">
      \{{#ifCond status '!=' "Whitelisted"}}
        <button class="btn btn-outline-danger" id="whitelist-user-save-btn" data-invite-id=\{{inviteId}}>Whitelist</button>
      \{{/ifCond}}

      \{{#ifCond status '==' "Whitelisted"}}
        <button class="btn btn-danger" id="whitelist-user-save-btn" data-invite-id=\{{inviteId}} disabled>Whitelisted</button>
      \{{/ifCond}}
    </td>
  </tr>
</script>