<!doctype html>
<html>
<head>
    <meta charset="utf-8" />

    <title>Pepo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="description" content="Collect more than Likes">
    <meta name="keywords" content="pepo, pepo app, an ost project, more than likes">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://pepo.com" />

    <meta property="og:title" content="Pepo"/>
    <meta property="og:description" content="Collect more than Likes"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://pepo.com"/>
    <meta property="og:site_name" content="pepo.com"/>
    <meta property="og:image" content="https://d3attjoi5jlede.cloudfront.net/images/web/fav/pepo-meta-img.png"/>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Pepo" />
    <meta name="twitter:description" content="Collect more than Likes" />
    <meta name="twitter:image" content="https://d3attjoi5jlede.cloudfront.net/images/web/fav/pepo-meta-img.png" />

    <meta name="csrf-token" content="{{csrfToken}}">
    <meta name="api-url" content="{{apiUrl}}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/png" sizes="192x192" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://d3attjoi5jlede.cloudfront.net/images/web/fav/16x16.png">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat|Lato&display=swap" rel="stylesheet">

    {{{css 'mCommon.css'}}}
    {{#each mCss}}
    {{{css this}}}
    {{/each}}

    <script>window.name = "{{randomStr}}";</script>

</head>
<body contenteditable="false">

    {{>header}}
    {{{body}}}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {{{js 'mCommon.js'}}}
    {{#each mJs}}
    {{{js this}}}
    {{/each}}

    {{{block "pageScripts"}}}

    <script type="text/javascript">
      $(document).ready(function() {
          let common = new window.Common({});

          common.init();
      });
    </script>
</body>
</html>
