<script id="reply-profile-header-template" type="text/x-handlebars-template">
        <div class='col-4' id="user-profile-img" data-user-id=\{{userId}}>
            \{{#if imageLink}}
            <img src=\{{imageLink}} style="height: 45px; width: 45px; border-radius: 50%;">
            \{{else}}
            <i class="fa fa-user-circle" style="font-size: 2.7rem; color: #dc3545;"></i>
            \{{/if}}
        </div>
        <div class="col-8" id="profile-name" style="margin-left: -3%;">
            \{{name}}
            <br/>
            <small>@\{{userName}}</small>
        </div>

</script>
